@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

button.btn[name="refresh"] {
    margin-top: -10px;
    margin-right: -10px;
    z-index: 10;
}

button.btn.spin[name="refresh"] > .material-icons {
    position: static;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 2500ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 2500ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 2500ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: spin;
    animation-duration: 2500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#networks-panel .list-group .list-group-item {
    cursor: pointer;
}

#networks .list-group .list-group-item-heading .material-icons {
    font-size: 18px;
    margin-left: 15px;
}

#networks .list-group .list-group-item .material-icons.encryption {
    position: absolute;
    left: 50px;
    margin-top: 32px;
}

#networks .list-group table td {
    padding: 5px 0;
}

#networks .list-group table td:first-child {
    font-weight: 600;
    padding-right: 30px;
}

#networks .panel-body.loading {
    position: relative;
}

#networks .panel-body.loading:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(204, 204, 204, 0.5);
    display: block;
}

#control-panel .panel-body .list-group-item .row-content .radio {
    float: right;
}

.list-group-separator + label {
    font-size: 14px;
    color: #333;
    font-weight: 300;
    display: block;
    max-width: 100%;
    margin-bottom: 0;
}